Package: am.theiostre.folderalbums
Name: FoldMusic
Depends: mobilesubstrate, com.chpwn.iconsupport, preferenceloader
Version: 0.0.1
Architecture: iphoneos-arm
Description: Folders which contain music.
Maintainer: theiostream
Author: theiostream
Section: Tweaks
