Package: am.theiostre.folderalbums
Name: FoldMusic
Depends: mobilesubstrate, com.chpwn.iconsupport, preferenceloader
Version: 0.0.1-577
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: theiostream
Author: theiostream
Section: Tweaks
Installed-Size: 112
